################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaBoiteAChaussures/bin/
/LaBoiteAChaussures/obj/
/LaBoiteAChaussures/LaBoiteAChaussures_StoreKey.pfx
/LaBoiteAChaussures/LaBoiteAChaussures_TemporaryKey.pfx
/.vs/