################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaBoiteAChaussures/bin/Debug
/LaBoiteAChaussures/obj/Debug
*.user
